header {
  color: white;
  justify-content: space-between;
  padding-top: 9px;
  width: 100vw;
  overflow: auto;
}

header * {
  margin: 8px;
}

#input-filter-name {
  border: 0.1px solid rgb(92, 76, 76);
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  width: 240px;
}

#input-filter-container {
  display: flex;
  flex-direction: column;
}

#filters-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  #filters-container {
    display: flex;
    flex-direction: column;
  }

  select {
    width: 70vw;
  }
} 


#input-number {
  border: 1px solid rgb(92, 76, 76);
  border-radius: 3px;
  height: 15px;
  outline: 0;
  padding: 10px;
  width: 70px;
}

header input {
  background-color: #1e1e1d;
  color: white;
}

#input-filter-name:hover {
  border: 1px solid white;
}

#input-filter-name:focus {
  border: 1px solid #dba81f;
  outline: 0;
}

header p {
  font-size: 20px;
}

select {
  background-color: #1e1e1d;
  border: unset;
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
  outline: 0;
  padding: 5px;
}

select:focus-visible {
  border-bottom: 1px solid #dba81f;
}

label {
  font-size: 12px;
}

label:focus-within {
  color: #dba81f;
}


header div {
  align-items: center;
  display: flex;
}

button {
  background-color: #1e1e1d;
  border: 1px solid #dba81f;
  border-radius: 4px;
  color: #dba81f;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  transition: 0.2s;
  white-space: nowrap;
  width: auto;
}

button:hover {
  background-color: #dba91f53;
}

#radios-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 130px;
}
